

.cart-item {
	display: flex;
	margin: 10px;
	justify-content: space-between;
	align-items: center;
    background: #fff;
}

.cart-item-info {
	display: flex;
	align-items: center;
}
.cart img{
	width: 100px;
	height: 100px;
}
