@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

.menu{
	height: 40px;
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	background: #fff;
	padding: 0px;
	margin: 0;
}

.menu li{
    display: flex;
    align-items: center;
    margin-inline: 40px;
}

.menu li a {
	text-decoration: none;
	color: #181818;
	line-height: 2em;
}

.menu-logo{
    font-family: 'Single Day', cursive;
    font-size: 2em;
}

.menu-cart{
    display: block;
    height: 25px;
    width: 25px;
    background: url('../assets/shopping.svg') no-repeat;
    background-size: cover;
}

.cartCount{
    display: block;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    text-align: center;
    position: relative;
    right: 10px;
    color: #fff;
    line-height: 220%;
    font-size: 0.5em;

}



.unclickable{
    pointer-events: none
}
